.toggles {
  width: 8px;
  height: 80px;
  background: #C1C1C1;
  z-index: 10;
  position: absolute;
  top: 50%;
  text-align: center;
  line-height: 100px;
  margin-top: -50px;
}
.togglesActive {
  left: 0;
  transitin: left 0.3s;
}
